/* Top nav style */
body {
    background-color: var(--color-gray-50);
}

.top-nav {
    width: 100vw;
    height: 133px;
    background-color: var(--color-gray-50);
    box-shadow: var(--sm-shadow);
}

.nav-container {
    display: flex;
    height: 133px;
    justify-content: space-between;
    align-items: center;
    margin: 0 var(--spacing-15);
}

.image-placeholder {
    width: 80px;
    height: 80px;
    background-color: var(--color-gray-200);
}

.pages-container {
    display: flex;
    gap: var(--spacing-6);
}

.nav-link {
    transform: translateY(0);
    transition: transform 0.3s ease;
}

.nav-link:hover {
    transform: translateY(-5px);
}

#service-button {
    cursor: pointer;
}

.nav-item-with-modal {
    position: relative;
    display: inline-block;
}

.services-modal {
    position: absolute;
    top: 90%;
    right: 0;
    background-color: var(--color-gray-50);
    border: 2px solid var(--color-cyan);
    padding: 1rem;
    box-shadow: var(--sm-shadow);
    display: none;
    z-index: 1000;
    border-radius: var(--border-radius-md);
    min-width: 180px;
}

.services-modal p {
    cursor: pointer;
    margin: 0 0 0.5rem;
}

.services-modal p:last-child {
    margin-bottom: 0;
}

.services-modal.show {
    display: block;
}