/* Portfolio page style */

.portfolio-container {
    margin: var(--spacing-13);
    display: flex;
}

.portfolio-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-8);
}

.portfolio-row-logo {
    width: 615px;
    height: 140px;
}

.portfolio-row-photos {
    display: flex;
}

.loopcart-image-1 {
    transform: rotate(22deg) translateY(-20px);
}