/* Home page style */

.home-page-container {
    margin: var(--spacing-15);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-container);
}

.hero-container {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    padding: 4rem 1rem;
    align-items: center;
    justify-content: center;
}

.hero-container h1 {
    z-index: 1;
}

.name-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.name-container h1 {
    padding: 0 2rem;
}

.hero-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    z-index: 2;
}

.hero-image::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40%;
    width: 100%;
    background: linear-gradient(to top, #f4f4f8, transparent);
    z-index: 3;
    pointer-events: none;
}

.roles {
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 4;
    gap: var(--spacing-20);
    margin-left: 1rem;
}

.intro {
    text-align: center;
    margin-top: 14rem;
    width: 515px;
}

/* about brief section */

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-13);
}

.about-text {
    width: 390px;
    text-align: left;
}

.about-text p {
    padding: var(--spacing-2) 0 ;
}

/* skill section */

.skill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-row-1 {
    display: flex;
    gap: var(--spacing-8);
    justify-content: center;
    margin: var(--spacing-15) 0 var(--spacing-10);
}

.skill-row-2 {
    width: 225px;
}

.skill-set-mobile {
    display: none;
}

/* project section */

.project-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-content-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-4);
}

.project-title-description {
    width: 253px;
}

.project-title-home {
    position: relative;
}

.project-title-home::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 18%;
    width: 56%;
    height: 1.8rem;
    background-color: #eecfd0;
    transform: rotate(4deg);
    z-index: -1;
}

.project-picture-display {
    position: relative;
    display: flex;
}

.project-picture-display::before {
    content: "";
    position: absolute;
    top: 45%;
    left: 10px;
    width: 90%;
    height: 70%;
    background-color: var(--color-cyan);
    border-radius: var(--border-radius-lg);
    z-index: 0;
}

.project-picture-display img {
    position: relative;
    z-index: 1;
    max-width: 200px;
    margin: 0 -25px;
}

#project-link {
    display: none;
}

@media (max-width: 768px) {
    .home-page-container {
        margin: var(--spacing-5) var(--spacing-2);
    }


    /* hero section */
    .name-container {
        gap: 1rem;
    }

    .name-container h1{
        padding: 0;
    }

    .hero-image::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 30%;
        width: 100%;
        background: linear-gradient(to top, #ffffff 30%, transparent 100%);
        z-index: 3;
        pointer-events: none;
    }

    .roles {
        gap: var(--spacing-5);
        z-index: 1;
    }

    .intro {
        width: 80vw;
    }

    /* about me brief */
    .about-container {
        flex-direction: column;
    }

    #blob-home {
        min-width: 260px;
    }

    .about-text {
        width: 80vw;
    }

    /* skill section */
    .skill-set-web {
        display: none;
    }

    .skill-set-mobile {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 2rem;
        padding: 1rem;
        -webkit-overflow-scrolling: touch;
        z-index: 5;
        scroll-snap-align: center;
        transition: transform 0.3s ease;
    }

    .skill-card-mobile.nudge {
        animation: nudege-card 2s ease forwards;
    }

    @keyframes nudege-card {
        0% { transform: translateX(0); }
        30% { transform: translateX(-80px); }
        60% { transform: translateX(-80px); }
        100% { transform: translateX(0); }
    }

    .skill-card-mobile {
        flex: 0 0 80%;
        scroll-snap-align: center;
        width: 350px;
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .skill-card-mobile:nth-child(3) {
        padding-right: 2.2rem;
    }

    /* project section */
    .project-container {
        flex-direction: column;
        gap: var(--spacing-4);
    }

    .project-section-title {
        text-align: center;
    }

    .project-content-right {
        gap: var(--spacing-2);
    }

    .project-picture-display::before {
        left: 0px;
        width: 100%;
    }

    .project-picture-display img {
        max-width: 65px;
        margin: 0 -15px;
    }

    #project-link {
        display: block;
    }
}
