/* Portfolio page style */
.portfolio-container {
    margin: var(--spacing-container);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.portfolio-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio-row-logo {
    width: 615px;
    height: 140px;
}

.portfolio-row-photos {
    display: flex;
}

.portfolio-row-photos img {
    max-width: 177px;
}

.loopcart-image-1 {
    transform: rotate(22deg) translateY(-20px);
}

.contact-prompt {
    text-align: center;
}

@media (max-width: 768px) {
    .portfolio-container {
        margin: var(--spacing-14) var(--spacing-5);
    }

    .app-designs-category h2 {
        margin-bottom: var(--spacing-8);
    }

    .portfolio-row-logo {
        max-width: 150px;
    }
    .portfolio-row-photos img {
        max-width: 60px;
    }
}